
.container {
	padding-right: 10px;
	padding-left: 10px;
	*zoom: 1;
}

.container:before {
	display: table;
	content: "";
	line-height: 0;
}

.container:after {
	display: table;
	content: "";
	line-height: 0;
	clear: both;
}

.left-sidebar {
	position: absolute;
	left: 10px;
	top: 48px;
	width: 180px;
}

.left-sidebar .user-details {
	height: 42px;
	position: relative;
	margin-top: 10px;
	margin-bottom: 3px;
}

.left-sidebar .user-details .user-img {
	float: left;
}

.left-sidebar .user-details .user-img img {
	width: 32px;
	height: 32px;
	background: primary-color;
	border: 2px solid #428bca;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.left-sidebar .user-details .welcome-text {
	text-align: right;
	color: #428bca;
	font-size: 12px;
	padding-top: 5px;
}

.left-sidebar .user-details .welcome-text .name {
	color: green;
	font-weight: bold;
}

.left-sidebar .content {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	min-height: 220px;
}

.left-sidebar .content .panel-group .panel .panel-heading{
	margin-bottom: 0px;
	border: 0;
	border-bottom: 1px solid #5697d0;
	background-color: #5697d0;
}

.left-sidebar .content .panel-group .panel .panel-heading a
	{
	font-weight: 400;
	font-size: 12px;
	position: relative;
	color: white;
}

.left-sidebar .content .panel-group .panel .panel-heading a .info-label
	{
	position: absolute;
	top: 7px;
	right: 4px;
}

.left-sidebar .content .panel-group .panel panel-heading .accordion-toggle
	{
	padding: 7px 8px;
}

.left-sidebar .content .panel-group .panel .panel-body .accordion-inner
	{
	border-top: 1px solid #5697d0;
	background: #f2f2f2;
	color: #333333;
	font-size: 11px;
	padding: 6px 8px;
}

.left-sidebar .content .panel-group .panel:last-child {
	border-bottom: 0;
}

.left-sidebar .content .btn {
	margin: 0 10px;
	display: block;
}



.dashboard-wrapper {
	margin-bottom: 10px;
	margin-left: 190px;
	position: absolute;
	left: 10px;
	top: 48px;
	width: 84%;
}

.dashboard-wrapper .main-container {
	min-height: 570px;
	border-top: 0px solid #428bca;
	background: white;
	-webkit-border-radius: 0 3px 3px 3px;
	-moz-border-radius: 0 3px 3px 3px;
	border-radius: 0 3px 3px 3px;
	padding: 10px 15px;
}







